*
!.docker
!.dockerignore
!Dockerfile
!Jenkinsfile
!docker-compose.yml
!README.md
!LICENSE
!.yarnrc.yml
!package.json
!yarn.lock
!nuxt.config.ts
!postcss
!app
!server
!shared
!public
!i18n
!types
!test
!vitest.config.ts
!backend/go.mod
!backend/go.sum
!backend/cmd
!backend/internal
!backend/testdata
**/node_modules
